<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>aaglottal-ethi</key>
  <string>aaglottal-ethi.glif</string>
  <key>aglottal-ethi</key>
  <string>aglottal-ethi.glif</string>
  <key>ba-ethi</key>
  <string>ba-ethi.glif</string>
  <key>baa-ethi</key>
  <string>baa-ethi.glif</string>
  <key>be-ethi</key>
  <string>be-ethi.glif</string>
  <key>bee-ethi</key>
  <string>bee-ethi.glif</string>
  <key>bi-ethi</key>
  <string>bi-ethi.glif</string>
  <key>bo-ethi</key>
  <string>bo-ethi.glif</string>
  <key>bu-ethi</key>
  <string>bu-ethi.glif</string>
  <key>bwa-ethi</key>
  <string>bwa-ethi.glif</string>
  <key>bwaSebatbeit-ethiopic</key>
  <string>bwaS_ebatbeit-ethiopic.glif</string>
  <key>bwe-ethiopic</key>
  <string>bwe-ethiopic.glif</string>
  <key>bwee-ethiopic</key>
  <string>bwee-ethiopic.glif</string>
  <key>bwi-ethiopic</key>
  <string>bwi-ethiopic.glif</string>
  <key>ca-ethi</key>
  <string>ca-ethi.glif</string>
  <key>caa-ethi</key>
  <string>caa-ethi.glif</string>
  <key>ce-ethi</key>
  <string>ce-ethi.glif</string>
  <key>cee-ethi</key>
  <string>cee-ethi.glif</string>
  <key>cha-ethi</key>
  <string>cha-ethi.glif</string>
  <key>chaa-ethi</key>
  <string>chaa-ethi.glif</string>
  <key>che-ethi</key>
  <string>che-ethi.glif</string>
  <key>chee-ethi</key>
  <string>chee-ethi.glif</string>
  <key>chi-ethi</key>
  <string>chi-ethi.glif</string>
  <key>cho-ethi</key>
  <string>cho-ethi.glif</string>
  <key>chu-ethi</key>
  <string>chu-ethi.glif</string>
  <key>chwa-ethi</key>
  <string>chwa-ethi.glif</string>
  <key>ci-ethi</key>
  <string>ci-ethi.glif</string>
  <key>co-ethi</key>
  <string>co-ethi.glif</string>
  <key>colon-ethi</key>
  <string>colon-ethi.glif</string>
  <key>comma-ethi</key>
  <string>comma-ethi.glif</string>
  <key>cu-ethi</key>
  <string>cu-ethi.glif</string>
  <key>cwa-ethi</key>
  <string>cwa-ethi.glif</string>
  <key>da-ethi</key>
  <string>da-ethi.glif</string>
  <key>daa-ethi</key>
  <string>daa-ethi.glif</string>
  <key>dda-ethi</key>
  <string>dda-ethi.glif</string>
  <key>ddaa-ethi</key>
  <string>ddaa-ethi.glif</string>
  <key>dde-ethi</key>
  <string>dde-ethi.glif</string>
  <key>ddee-ethi</key>
  <string>ddee-ethi.glif</string>
  <key>ddi-ethi</key>
  <string>ddi-ethi.glif</string>
  <key>ddo-ethi</key>
  <string>ddo-ethi.glif</string>
  <key>ddu-ethi</key>
  <string>ddu-ethi.glif</string>
  <key>ddwa-ethi</key>
  <string>ddwa-ethi.glif</string>
  <key>de-ethi</key>
  <string>de-ethi.glif</string>
  <key>dee-ethi</key>
  <string>dee-ethi.glif</string>
  <key>di-ethi</key>
  <string>di-ethi.glif</string>
  <key>do-ethi</key>
  <string>do-ethi.glif</string>
  <key>du-ethi</key>
  <string>du-ethi.glif</string>
  <key>dwa-ethi</key>
  <string>dwa-ethi.glif</string>
  <key>eeglottal-ethi</key>
  <string>eeglottal-ethi.glif</string>
  <key>eglottal-ethi</key>
  <string>eglottal-ethi.glif</string>
  <key>eight-ethi</key>
  <string>eight-ethi.glif</string>
  <key>eighty-ethi</key>
  <string>eighty-ethi.glif</string>
  <key>fa-ethi</key>
  <string>fa-ethi.glif</string>
  <key>faa-ethi</key>
  <string>faa-ethi.glif</string>
  <key>fe-ethi</key>
  <string>fe-ethi.glif</string>
  <key>fee-ethi</key>
  <string>fee-ethi.glif</string>
  <key>fi-ethi</key>
  <string>fi-ethi.glif</string>
  <key>fifty-ethi</key>
  <string>fifty-ethi.glif</string>
  <key>five-ethi</key>
  <string>five-ethi.glif</string>
  <key>fo-ethi</key>
  <string>fo-ethi.glif</string>
  <key>forty-ethi</key>
  <string>forty-ethi.glif</string>
  <key>four-ethi</key>
  <string>four-ethi.glif</string>
  <key>fu-ethi</key>
  <string>fu-ethi.glif</string>
  <key>fullstop-ethi</key>
  <string>fullstop-ethi.glif</string>
  <key>fwa-ethi</key>
  <string>fwa-ethi.glif</string>
  <key>fwaSebatbeit-ethiopic</key>
  <string>fwaS_ebatbeit-ethiopic.glif</string>
  <key>fwe-ethiopic</key>
  <string>fwe-ethiopic.glif</string>
  <key>fwee-ethiopic</key>
  <string>fwee-ethiopic.glif</string>
  <key>fwi-ethiopic</key>
  <string>fwi-ethiopic.glif</string>
  <key>fya-ethi</key>
  <string>fya-ethi.glif</string>
  <key>ga-ethi</key>
  <string>ga-ethi.glif</string>
  <key>gaa-ethi</key>
  <string>gaa-ethi.glif</string>
  <key>ge-ethi</key>
  <string>ge-ethi.glif</string>
  <key>gee-ethi</key>
  <string>gee-ethi.glif</string>
  <key>geminationandvowellengthmarkcomb-ethi</key>
  <string>geminationandvowellengthmarkcomb-ethi.glif</string>
  <key>geminationmarkcomb-ethi</key>
  <string>geminationmarkcomb-ethi.glif</string>
  <key>gga-ethi</key>
  <string>gga-ethi.glif</string>
  <key>ggaa-ethi</key>
  <string>ggaa-ethi.glif</string>
  <key>gge-ethi</key>
  <string>gge-ethi.glif</string>
  <key>ggee-ethi</key>
  <string>ggee-ethi.glif</string>
  <key>ggi-ethi</key>
  <string>ggi-ethi.glif</string>
  <key>ggo-ethi</key>
  <string>ggo-ethi.glif</string>
  <key>ggu-ethi</key>
  <string>ggu-ethi.glif</string>
  <key>ggwa-ethiopic</key>
  <string>ggwa-ethiopic.glif</string>
  <key>ggwaa-ethi</key>
  <string>ggwaa-ethi.glif</string>
  <key>ggwe-ethiopic</key>
  <string>ggwe-ethiopic.glif</string>
  <key>ggwee-ethiopic</key>
  <string>ggwee-ethiopic.glif</string>
  <key>ggwi-ethiopic</key>
  <string>ggwi-ethiopic.glif</string>
  <key>gi-ethi</key>
  <string>gi-ethi.glif</string>
  <key>go-ethi</key>
  <string>go-ethi.glif</string>
  <key>goa-ethi</key>
  <string>goa-ethi.glif</string>
  <key>gu-ethi</key>
  <string>gu-ethi.glif</string>
  <key>gwa-ethi</key>
  <string>gwa-ethi.glif</string>
  <key>gwaa-ethi</key>
  <string>gwaa-ethi.glif</string>
  <key>gwe-ethi</key>
  <string>gwe-ethi.glif</string>
  <key>gwee-ethi</key>
  <string>gwee-ethi.glif</string>
  <key>gwi-ethi</key>
  <string>gwi-ethi.glif</string>
  <key>gya-ethiopic</key>
  <string>gya-ethiopic.glif</string>
  <key>gyaa-ethiopic</key>
  <string>gyaa-ethiopic.glif</string>
  <key>gye-ethiopic</key>
  <string>gye-ethiopic.glif</string>
  <key>gyee-ethiopic</key>
  <string>gyee-ethiopic.glif</string>
  <key>gyi-ethiopic</key>
  <string>gyi-ethiopic.glif</string>
  <key>gyo-ethiopic</key>
  <string>gyo-ethiopic.glif</string>
  <key>gyu-ethiopic</key>
  <string>gyu-ethiopic.glif</string>
  <key>ha-ethi</key>
  <string>ha-ethi.glif</string>
  <key>haa-ethi</key>
  <string>haa-ethi.glif</string>
  <key>he-ethi</key>
  <string>he-ethi.glif</string>
  <key>hee-ethi</key>
  <string>hee-ethi.glif</string>
  <key>hha-ethi</key>
  <string>hha-ethi.glif</string>
  <key>hhaa-ethi</key>
  <string>hhaa-ethi.glif</string>
  <key>hhe-ethi</key>
  <string>hhe-ethi.glif</string>
  <key>hhee-ethi</key>
  <string>hhee-ethi.glif</string>
  <key>hhi-ethi</key>
  <string>hhi-ethi.glif</string>
  <key>hho-ethi</key>
  <string>hho-ethi.glif</string>
  <key>hhu-ethi</key>
  <string>hhu-ethi.glif</string>
  <key>hhwa-ethi</key>
  <string>hhwa-ethi.glif</string>
  <key>hi-ethi</key>
  <string>hi-ethi.glif</string>
  <key>ho-ethi</key>
  <string>ho-ethi.glif</string>
  <key>hoa-ethi</key>
  <string>hoa-ethi.glif</string>
  <key>hu-ethi</key>
  <string>hu-ethi.glif</string>
  <key>hundred-ethi</key>
  <string>hundred-ethi.glif</string>
  <key>iglottal-ethi</key>
  <string>iglottal-ethi.glif</string>
  <key>ja-ethi</key>
  <string>ja-ethi.glif</string>
  <key>jaa-ethi</key>
  <string>jaa-ethi.glif</string>
  <key>je-ethi</key>
  <string>je-ethi.glif</string>
  <key>jee-ethi</key>
  <string>jee-ethi.glif</string>
  <key>ji-ethi</key>
  <string>ji-ethi.glif</string>
  <key>jo-ethi</key>
  <string>jo-ethi.glif</string>
  <key>ju-ethi</key>
  <string>ju-ethi.glif</string>
  <key>jwa-ethi</key>
  <string>jwa-ethi.glif</string>
  <key>ka-ethi</key>
  <string>ka-ethi.glif</string>
  <key>kaa-ethi</key>
  <string>kaa-ethi.glif</string>
  <key>ke-ethi</key>
  <string>ke-ethi.glif</string>
  <key>kee-ethi</key>
  <string>kee-ethi.glif</string>
  <key>ki-ethi</key>
  <string>ki-ethi.glif</string>
  <key>ko-ethi</key>
  <string>ko-ethi.glif</string>
  <key>koa-ethi</key>
  <string>koa-ethi.glif</string>
  <key>ku-ethi</key>
  <string>ku-ethi.glif</string>
  <key>kwa-ethi</key>
  <string>kwa-ethi.glif</string>
  <key>kwaa-ethi</key>
  <string>kwaa-ethi.glif</string>
  <key>kwe-ethi</key>
  <string>kwe-ethi.glif</string>
  <key>kwee-ethi</key>
  <string>kwee-ethi.glif</string>
  <key>kwi-ethi</key>
  <string>kwi-ethi.glif</string>
  <key>kxa-ethi</key>
  <string>kxa-ethi.glif</string>
  <key>kxaa-ethi</key>
  <string>kxaa-ethi.glif</string>
  <key>kxe-ethi</key>
  <string>kxe-ethi.glif</string>
  <key>kxee-ethi</key>
  <string>kxee-ethi.glif</string>
  <key>kxi-ethi</key>
  <string>kxi-ethi.glif</string>
  <key>kxo-ethi</key>
  <string>kxo-ethi.glif</string>
  <key>kxu-ethi</key>
  <string>kxu-ethi.glif</string>
  <key>kxwa-ethi</key>
  <string>kxwa-ethi.glif</string>
  <key>kxwaa-ethi</key>
  <string>kxwaa-ethi.glif</string>
  <key>kxwe-ethi</key>
  <string>kxwe-ethi.glif</string>
  <key>kxwee-ethi</key>
  <string>kxwee-ethi.glif</string>
  <key>kxwi-ethi</key>
  <string>kxwi-ethi.glif</string>
  <key>kya-ethiopic</key>
  <string>kya-ethiopic.glif</string>
  <key>kyaa-ethiopic</key>
  <string>kyaa-ethiopic.glif</string>
  <key>kye-ethiopic</key>
  <string>kye-ethiopic.glif</string>
  <key>kyee-ethiopic</key>
  <string>kyee-ethiopic.glif</string>
  <key>kyi-ethiopic</key>
  <string>kyi-ethiopic.glif</string>
  <key>kyo-ethiopic</key>
  <string>kyo-ethiopic.glif</string>
  <key>kyu-ethiopic</key>
  <string>kyu-ethiopic.glif</string>
  <key>la-ethi</key>
  <string>la-ethi.glif</string>
  <key>laa-ethi</key>
  <string>laa-ethi.glif</string>
  <key>le-ethi</key>
  <string>le-ethi.glif</string>
  <key>lee-ethi</key>
  <string>lee-ethi.glif</string>
  <key>li-ethi</key>
  <string>li-ethi.glif</string>
  <key>lo-ethi</key>
  <string>lo-ethi.glif</string>
  <key>lu-ethi</key>
  <string>lu-ethi.glif</string>
  <key>lwa-ethi</key>
  <string>lwa-ethi.glif</string>
  <key>ma-ethi</key>
  <string>ma-ethi.glif</string>
  <key>maa-ethi</key>
  <string>maa-ethi.glif</string>
  <key>me-ethi</key>
  <string>me-ethi.glif</string>
  <key>mee-ethi</key>
  <string>mee-ethi.glif</string>
  <key>mi-ethi</key>
  <string>mi-ethi.glif</string>
  <key>mo-ethi</key>
  <string>mo-ethi.glif</string>
  <key>mu-ethi</key>
  <string>mu-ethi.glif</string>
  <key>mwa-ethi</key>
  <string>mwa-ethi.glif</string>
  <key>mwaSebatbeit-ethiopic</key>
  <string>mwaS_ebatbeit-ethiopic.glif</string>
  <key>mwe-ethiopic</key>
  <string>mwe-ethiopic.glif</string>
  <key>mwee-ethiopic</key>
  <string>mwee-ethiopic.glif</string>
  <key>mwi-ethiopic</key>
  <string>mwi-ethiopic.glif</string>
  <key>mya-ethi</key>
  <string>mya-ethi.glif</string>
  <key>na-ethi</key>
  <string>na-ethi.glif</string>
  <key>naa-ethi</key>
  <string>naa-ethi.glif</string>
  <key>ne-ethi</key>
  <string>ne-ethi.glif</string>
  <key>nee-ethi</key>
  <string>nee-ethi.glif</string>
  <key>ni-ethi</key>
  <string>ni-ethi.glif</string>
  <key>nine-ethi</key>
  <string>nine-ethi.glif</string>
  <key>ninety-ethi</key>
  <string>ninety-ethi.glif</string>
  <key>no-ethi</key>
  <string>no-ethi.glif</string>
  <key>nu-ethi</key>
  <string>nu-ethi.glif</string>
  <key>nwa-ethi</key>
  <string>nwa-ethi.glif</string>
  <key>nya-ethi</key>
  <string>nya-ethi.glif</string>
  <key>nyaa-ethi</key>
  <string>nyaa-ethi.glif</string>
  <key>nye-ethi</key>
  <string>nye-ethi.glif</string>
  <key>nyee-ethi</key>
  <string>nyee-ethi.glif</string>
  <key>nyi-ethi</key>
  <string>nyi-ethi.glif</string>
  <key>nyo-ethi</key>
  <string>nyo-ethi.glif</string>
  <key>nyu-ethi</key>
  <string>nyu-ethi.glif</string>
  <key>nywa-ethi</key>
  <string>nywa-ethi.glif</string>
  <key>oglottal-ethi</key>
  <string>oglottal-ethi.glif</string>
  <key>one-ethi</key>
  <string>one-ethi.glif</string>
  <key>pa-ethi</key>
  <string>pa-ethi.glif</string>
  <key>paa-ethi</key>
  <string>paa-ethi.glif</string>
  <key>paragraphseparator-ethi</key>
  <string>paragraphseparator-ethi.glif</string>
  <key>pe-ethi</key>
  <string>pe-ethi.glif</string>
  <key>pee-ethi</key>
  <string>pee-ethi.glif</string>
  <key>pha-ethi</key>
  <string>pha-ethi.glif</string>
  <key>phaa-ethi</key>
  <string>phaa-ethi.glif</string>
  <key>pharyngeala-ethi</key>
  <string>pharyngeala-ethi.glif</string>
  <key>pharyngealaa-ethi</key>
  <string>pharyngealaa-ethi.glif</string>
  <key>pharyngeale-ethi</key>
  <string>pharyngeale-ethi.glif</string>
  <key>pharyngealee-ethi</key>
  <string>pharyngealee-ethi.glif</string>
  <key>pharyngeali-ethi</key>
  <string>pharyngeali-ethi.glif</string>
  <key>pharyngealo-ethi</key>
  <string>pharyngealo-ethi.glif</string>
  <key>pharyngealu-ethi</key>
  <string>pharyngealu-ethi.glif</string>
  <key>phe-ethi</key>
  <string>phe-ethi.glif</string>
  <key>phee-ethi</key>
  <string>phee-ethi.glif</string>
  <key>phi-ethi</key>
  <string>phi-ethi.glif</string>
  <key>pho-ethi</key>
  <string>pho-ethi.glif</string>
  <key>phu-ethi</key>
  <string>phu-ethi.glif</string>
  <key>phwa-ethi</key>
  <string>phwa-ethi.glif</string>
  <key>pi-ethi</key>
  <string>pi-ethi.glif</string>
  <key>po-ethi</key>
  <string>po-ethi.glif</string>
  <key>prefacecolon-ethi</key>
  <string>prefacecolon-ethi.glif</string>
  <key>pu-ethi</key>
  <string>pu-ethi.glif</string>
  <key>pwa-ethi</key>
  <string>pwa-ethi.glif</string>
  <key>pwaSebatbeit-ethiopic</key>
  <string>pwaS_ebatbeit-ethiopic.glif</string>
  <key>pwe-ethiopic</key>
  <string>pwe-ethiopic.glif</string>
  <key>pwee-ethiopic</key>
  <string>pwee-ethiopic.glif</string>
  <key>pwi-ethiopic</key>
  <string>pwi-ethiopic.glif</string>
  <key>qa-ethi</key>
  <string>qa-ethi.glif</string>
  <key>qaa-ethi</key>
  <string>qaa-ethi.glif</string>
  <key>qe-ethi</key>
  <string>qe-ethi.glif</string>
  <key>qee-ethi</key>
  <string>qee-ethi.glif</string>
  <key>qha-ethi</key>
  <string>qha-ethi.glif</string>
  <key>qhaa-ethi</key>
  <string>qhaa-ethi.glif</string>
  <key>qhe-ethi</key>
  <string>qhe-ethi.glif</string>
  <key>qhee-ethi</key>
  <string>qhee-ethi.glif</string>
  <key>qhi-ethi</key>
  <string>qhi-ethi.glif</string>
  <key>qho-ethi</key>
  <string>qho-ethi.glif</string>
  <key>qhu-ethi</key>
  <string>qhu-ethi.glif</string>
  <key>qhwa-ethi</key>
  <string>qhwa-ethi.glif</string>
  <key>qhwaa-ethi</key>
  <string>qhwaa-ethi.glif</string>
  <key>qhwe-ethi</key>
  <string>qhwe-ethi.glif</string>
  <key>qhwee-ethi</key>
  <string>qhwee-ethi.glif</string>
  <key>qhwi-ethi</key>
  <string>qhwi-ethi.glif</string>
  <key>qi-ethi</key>
  <string>qi-ethi.glif</string>
  <key>qo-ethi</key>
  <string>qo-ethi.glif</string>
  <key>qoa-ethi</key>
  <string>qoa-ethi.glif</string>
  <key>qu-ethi</key>
  <string>qu-ethi.glif</string>
  <key>questionmark-ethi</key>
  <string>questionmark-ethi.glif</string>
  <key>qwa-ethi</key>
  <string>qwa-ethi.glif</string>
  <key>qwaa-ethi</key>
  <string>qwaa-ethi.glif</string>
  <key>qwe-ethi</key>
  <string>qwe-ethi.glif</string>
  <key>qwee-ethi</key>
  <string>qwee-ethi.glif</string>
  <key>qwi-ethi</key>
  <string>qwi-ethi.glif</string>
  <key>qya-ethiopic</key>
  <string>qya-ethiopic.glif</string>
  <key>qyaa-ethiopic</key>
  <string>qyaa-ethiopic.glif</string>
  <key>qye-ethiopic</key>
  <string>qye-ethiopic.glif</string>
  <key>qyee-ethiopic</key>
  <string>qyee-ethiopic.glif</string>
  <key>qyi-ethiopic</key>
  <string>qyi-ethiopic.glif</string>
  <key>qyo-ethiopic</key>
  <string>qyo-ethiopic.glif</string>
  <key>qyu-ethiopic</key>
  <string>qyu-ethiopic.glif</string>
  <key>ra-ethi</key>
  <string>ra-ethi.glif</string>
  <key>raa-ethi</key>
  <string>raa-ethi.glif</string>
  <key>re-ethi</key>
  <string>re-ethi.glif</string>
  <key>ree-ethi</key>
  <string>ree-ethi.glif</string>
  <key>ri-ethi</key>
  <string>ri-ethi.glif</string>
  <key>ro-ethi</key>
  <string>ro-ethi.glif</string>
  <key>ru-ethi</key>
  <string>ru-ethi.glif</string>
  <key>rwa-ethi</key>
  <string>rwa-ethi.glif</string>
  <key>rya-ethi</key>
  <string>rya-ethi.glif</string>
  <key>sa-ethi</key>
  <string>sa-ethi.glif</string>
  <key>saa-ethi</key>
  <string>saa-ethi.glif</string>
  <key>se-ethi</key>
  <string>se-ethi.glif</string>
  <key>sectionmark-ethi</key>
  <string>sectionmark-ethi.glif</string>
  <key>see-ethi</key>
  <string>see-ethi.glif</string>
  <key>semicolon-ethi</key>
  <string>semicolon-ethi.glif</string>
  <key>seven-ethi</key>
  <string>seven-ethi.glif</string>
  <key>seventy-ethi</key>
  <string>seventy-ethi.glif</string>
  <key>sha-ethi</key>
  <string>sha-ethi.glif</string>
  <key>shaa-ethi</key>
  <string>shaa-ethi.glif</string>
  <key>she-ethi</key>
  <string>she-ethi.glif</string>
  <key>shee-ethi</key>
  <string>shee-ethi.glif</string>
  <key>shi-ethi</key>
  <string>shi-ethi.glif</string>
  <key>sho-ethi</key>
  <string>sho-ethi.glif</string>
  <key>shu-ethi</key>
  <string>shu-ethi.glif</string>
  <key>shwa-ethi</key>
  <string>shwa-ethi.glif</string>
  <key>si-ethi</key>
  <string>si-ethi.glif</string>
  <key>six-ethi</key>
  <string>six-ethi.glif</string>
  <key>sixty-ethi</key>
  <string>sixty-ethi.glif</string>
  <key>so-ethi</key>
  <string>so-ethi.glif</string>
  <key>su-ethi</key>
  <string>su-ethi.glif</string>
  <key>swa-ethi</key>
  <string>swa-ethi.glif</string>
  <key>sza-ethi</key>
  <string>sza-ethi.glif</string>
  <key>szaa-ethi</key>
  <string>szaa-ethi.glif</string>
  <key>sze-ethi</key>
  <string>sze-ethi.glif</string>
  <key>szee-ethi</key>
  <string>szee-ethi.glif</string>
  <key>szi-ethi</key>
  <string>szi-ethi.glif</string>
  <key>szo-ethi</key>
  <string>szo-ethi.glif</string>
  <key>szu-ethi</key>
  <string>szu-ethi.glif</string>
  <key>szwa-ethi</key>
  <string>szwa-ethi.glif</string>
  <key>ta-ethi</key>
  <string>ta-ethi.glif</string>
  <key>taa-ethi</key>
  <string>taa-ethi.glif</string>
  <key>te-ethi</key>
  <string>te-ethi.glif</string>
  <key>tee-ethi</key>
  <string>tee-ethi.glif</string>
  <key>ten-ethi</key>
  <string>ten-ethi.glif</string>
  <key>tenthousand-ethi</key>
  <string>tenthousand-ethi.glif</string>
  <key>tha-ethi</key>
  <string>tha-ethi.glif</string>
  <key>thaa-ethi</key>
  <string>thaa-ethi.glif</string>
  <key>the-ethi</key>
  <string>the-ethi.glif</string>
  <key>thee-ethi</key>
  <string>thee-ethi.glif</string>
  <key>thi-ethi</key>
  <string>thi-ethi.glif</string>
  <key>thirty-ethi</key>
  <string>thirty-ethi.glif</string>
  <key>tho-ethi</key>
  <string>tho-ethi.glif</string>
  <key>three-ethi</key>
  <string>three-ethi.glif</string>
  <key>thu-ethi</key>
  <string>thu-ethi.glif</string>
  <key>thwa-ethi</key>
  <string>thwa-ethi.glif</string>
  <key>ti-ethi</key>
  <string>ti-ethi.glif</string>
  <key>to-ethi</key>
  <string>to-ethi.glif</string>
  <key>tsa-ethi</key>
  <string>tsa-ethi.glif</string>
  <key>tsaa-ethi</key>
  <string>tsaa-ethi.glif</string>
  <key>tse-ethi</key>
  <string>tse-ethi.glif</string>
  <key>tsee-ethi</key>
  <string>tsee-ethi.glif</string>
  <key>tsi-ethi</key>
  <string>tsi-ethi.glif</string>
  <key>tso-ethi</key>
  <string>tso-ethi.glif</string>
  <key>tsu-ethi</key>
  <string>tsu-ethi.glif</string>
  <key>tswa-ethi</key>
  <string>tswa-ethi.glif</string>
  <key>tu-ethi</key>
  <string>tu-ethi.glif</string>
  <key>twa-ethi</key>
  <string>twa-ethi.glif</string>
  <key>twenty-ethi</key>
  <string>twenty-ethi.glif</string>
  <key>two-ethi</key>
  <string>two-ethi.glif</string>
  <key>tza-ethi</key>
  <string>tza-ethi.glif</string>
  <key>tzaa-ethi</key>
  <string>tzaa-ethi.glif</string>
  <key>tze-ethi</key>
  <string>tze-ethi.glif</string>
  <key>tzee-ethi</key>
  <string>tzee-ethi.glif</string>
  <key>tzi-ethi</key>
  <string>tzi-ethi.glif</string>
  <key>tzo-ethi</key>
  <string>tzo-ethi.glif</string>
  <key>tzoa-ethi</key>
  <string>tzoa-ethi.glif</string>
  <key>tzu-ethi</key>
  <string>tzu-ethi.glif</string>
  <key>uglottal-ethi</key>
  <string>uglottal-ethi.glif</string>
  <key>va-ethi</key>
  <string>va-ethi.glif</string>
  <key>vaa-ethi</key>
  <string>vaa-ethi.glif</string>
  <key>ve-ethi</key>
  <string>ve-ethi.glif</string>
  <key>vee-ethi</key>
  <string>vee-ethi.glif</string>
  <key>vi-ethi</key>
  <string>vi-ethi.glif</string>
  <key>vo-ethi</key>
  <string>vo-ethi.glif</string>
  <key>vowellengthmarkcmb-ethi</key>
  <string>vowellengthmarkcmb-ethi.glif</string>
  <key>vu-ethi</key>
  <string>vu-ethi.glif</string>
  <key>vwa-ethi</key>
  <string>vwa-ethi.glif</string>
  <key>wa-ethi</key>
  <string>wa-ethi.glif</string>
  <key>waa-ethi</key>
  <string>waa-ethi.glif</string>
  <key>waglottal-ethi</key>
  <string>waglottal-ethi.glif</string>
  <key>we-ethi</key>
  <string>we-ethi.glif</string>
  <key>wee-ethi</key>
  <string>wee-ethi.glif</string>
  <key>wi-ethi</key>
  <string>wi-ethi.glif</string>
  <key>wo-ethi</key>
  <string>wo-ethi.glif</string>
  <key>woa-ethi</key>
  <string>woa-ethi.glif</string>
  <key>wordspace-ethi</key>
  <string>wordspace-ethi.glif</string>
  <key>wu-ethi</key>
  <string>wu-ethi.glif</string>
  <key>xa-ethi</key>
  <string>xa-ethi.glif</string>
  <key>xaa-ethi</key>
  <string>xaa-ethi.glif</string>
  <key>xe-ethi</key>
  <string>xe-ethi.glif</string>
  <key>xee-ethi</key>
  <string>xee-ethi.glif</string>
  <key>xi-ethi</key>
  <string>xi-ethi.glif</string>
  <key>xo-ethi</key>
  <string>xo-ethi.glif</string>
  <key>xoa-ethi</key>
  <string>xoa-ethi.glif</string>
  <key>xu-ethi</key>
  <string>xu-ethi.glif</string>
  <key>xwa-ethi</key>
  <string>xwa-ethi.glif</string>
  <key>xwaa-ethi</key>
  <string>xwaa-ethi.glif</string>
  <key>xwe-ethi</key>
  <string>xwe-ethi.glif</string>
  <key>xwee-ethi</key>
  <string>xwee-ethi.glif</string>
  <key>xwi-ethi</key>
  <string>xwi-ethi.glif</string>
  <key>xya-ethiopic</key>
  <string>xya-ethiopic.glif</string>
  <key>xyaa-ethiopic</key>
  <string>xyaa-ethiopic.glif</string>
  <key>xye-ethiopic</key>
  <string>xye-ethiopic.glif</string>
  <key>xyee-ethiopic</key>
  <string>xyee-ethiopic.glif</string>
  <key>xyi-ethiopic</key>
  <string>xyi-ethiopic.glif</string>
  <key>xyo-ethiopic</key>
  <string>xyo-ethiopic.glif</string>
  <key>xyu-ethiopic</key>
  <string>xyu-ethiopic.glif</string>
  <key>ya-ethi</key>
  <string>ya-ethi.glif</string>
  <key>yaa-ethi</key>
  <string>yaa-ethi.glif</string>
  <key>ye-ethi</key>
  <string>ye-ethi.glif</string>
  <key>yee-ethi</key>
  <string>yee-ethi.glif</string>
  <key>yi-ethi</key>
  <string>yi-ethi.glif</string>
  <key>yo-ethi</key>
  <string>yo-ethi.glif</string>
  <key>yoa-ethi</key>
  <string>yoa-ethi.glif</string>
  <key>yu-ethi</key>
  <string>yu-ethi.glif</string>
  <key>za-ethi</key>
  <string>za-ethi.glif</string>
  <key>zaa-ethi</key>
  <string>zaa-ethi.glif</string>
  <key>ze-ethi</key>
  <string>ze-ethi.glif</string>
  <key>zee-ethi</key>
  <string>zee-ethi.glif</string>
  <key>zha-ethi</key>
  <string>zha-ethi.glif</string>
  <key>zhaa-ethi</key>
  <string>zhaa-ethi.glif</string>
  <key>zhe-ethi</key>
  <string>zhe-ethi.glif</string>
  <key>zhee-ethi</key>
  <string>zhee-ethi.glif</string>
  <key>zhi-ethi</key>
  <string>zhi-ethi.glif</string>
  <key>zho-ethi</key>
  <string>zho-ethi.glif</string>
  <key>zhu-ethi</key>
  <string>zhu-ethi.glif</string>
  <key>zhwa-ethi</key>
  <string>zhwa-ethi.glif</string>
  <key>zi-ethi</key>
  <string>zi-ethi.glif</string>
  <key>zo-ethi</key>
  <string>zo-ethi.glif</string>
  <key>zu-ethi</key>
  <string>zu-ethi.glif</string>
  <key>zwa-ethi</key>
  <string>zwa-ethi.glif</string>
</dict>
</plist>
