<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>ha-ethi</string>
    <string>hu-ethi</string>
    <string>hi-ethi</string>
    <string>haa-ethi</string>
    <string>hee-ethi</string>
    <string>he-ethi</string>
    <string>ho-ethi</string>
    <string>hoa-ethi</string>
    <string>la-ethi</string>
    <string>lu-ethi</string>
    <string>li-ethi</string>
    <string>laa-ethi</string>
    <string>lee-ethi</string>
    <string>le-ethi</string>
    <string>lo-ethi</string>
    <string>lwa-ethi</string>
    <string>hha-ethi</string>
    <string>hhu-ethi</string>
    <string>hhi-ethi</string>
    <string>hhaa-ethi</string>
    <string>hhee-ethi</string>
    <string>hhe-ethi</string>
    <string>hho-ethi</string>
    <string>hhwa-ethi</string>
    <string>ma-ethi</string>
    <string>mu-ethi</string>
    <string>mi-ethi</string>
    <string>maa-ethi</string>
    <string>mee-ethi</string>
    <string>me-ethi</string>
    <string>mo-ethi</string>
    <string>mwa-ethi</string>
    <string>sza-ethi</string>
    <string>szu-ethi</string>
    <string>szi-ethi</string>
    <string>szaa-ethi</string>
    <string>szee-ethi</string>
    <string>sze-ethi</string>
    <string>szo-ethi</string>
    <string>szwa-ethi</string>
    <string>ra-ethi</string>
    <string>ru-ethi</string>
    <string>ri-ethi</string>
    <string>raa-ethi</string>
    <string>ree-ethi</string>
    <string>re-ethi</string>
    <string>ro-ethi</string>
    <string>rwa-ethi</string>
    <string>sa-ethi</string>
    <string>su-ethi</string>
    <string>si-ethi</string>
    <string>saa-ethi</string>
    <string>see-ethi</string>
    <string>se-ethi</string>
    <string>so-ethi</string>
    <string>swa-ethi</string>
    <string>sha-ethi</string>
    <string>shu-ethi</string>
    <string>shi-ethi</string>
    <string>shaa-ethi</string>
    <string>shee-ethi</string>
    <string>she-ethi</string>
    <string>sho-ethi</string>
    <string>shwa-ethi</string>
    <string>qa-ethi</string>
    <string>qu-ethi</string>
    <string>qi-ethi</string>
    <string>qaa-ethi</string>
    <string>qee-ethi</string>
    <string>qe-ethi</string>
    <string>qo-ethi</string>
    <string>qoa-ethi</string>
    <string>qwa-ethi</string>
    <string>qwi-ethi</string>
    <string>qwaa-ethi</string>
    <string>qwee-ethi</string>
    <string>qwe-ethi</string>
    <string>qha-ethi</string>
    <string>qhu-ethi</string>
    <string>qhi-ethi</string>
    <string>qhaa-ethi</string>
    <string>qhee-ethi</string>
    <string>qhe-ethi</string>
    <string>qho-ethi</string>
    <string>qhwa-ethi</string>
    <string>qhwi-ethi</string>
    <string>qhwaa-ethi</string>
    <string>qhwee-ethi</string>
    <string>qhwe-ethi</string>
    <string>ba-ethi</string>
    <string>bu-ethi</string>
    <string>bi-ethi</string>
    <string>baa-ethi</string>
    <string>bee-ethi</string>
    <string>be-ethi</string>
    <string>bo-ethi</string>
    <string>bwa-ethi</string>
    <string>va-ethi</string>
    <string>vu-ethi</string>
    <string>vi-ethi</string>
    <string>vaa-ethi</string>
    <string>vee-ethi</string>
    <string>ve-ethi</string>
    <string>vo-ethi</string>
    <string>vwa-ethi</string>
    <string>ta-ethi</string>
    <string>tu-ethi</string>
    <string>ti-ethi</string>
    <string>taa-ethi</string>
    <string>tee-ethi</string>
    <string>te-ethi</string>
    <string>to-ethi</string>
    <string>twa-ethi</string>
    <string>ca-ethi</string>
    <string>cu-ethi</string>
    <string>ci-ethi</string>
    <string>caa-ethi</string>
    <string>cee-ethi</string>
    <string>ce-ethi</string>
    <string>co-ethi</string>
    <string>cwa-ethi</string>
    <string>xa-ethi</string>
    <string>xu-ethi</string>
    <string>xi-ethi</string>
    <string>xaa-ethi</string>
    <string>xee-ethi</string>
    <string>xe-ethi</string>
    <string>xo-ethi</string>
    <string>xoa-ethi</string>
    <string>xwa-ethi</string>
    <string>xwi-ethi</string>
    <string>xwaa-ethi</string>
    <string>xwee-ethi</string>
    <string>xwe-ethi</string>
    <string>na-ethi</string>
    <string>nu-ethi</string>
    <string>ni-ethi</string>
    <string>naa-ethi</string>
    <string>nee-ethi</string>
    <string>ne-ethi</string>
    <string>no-ethi</string>
    <string>nwa-ethi</string>
    <string>nya-ethi</string>
    <string>nyu-ethi</string>
    <string>nyi-ethi</string>
    <string>nyaa-ethi</string>
    <string>nyee-ethi</string>
    <string>nye-ethi</string>
    <string>nyo-ethi</string>
    <string>nywa-ethi</string>
    <string>aglottal-ethi</string>
    <string>uglottal-ethi</string>
    <string>iglottal-ethi</string>
    <string>aaglottal-ethi</string>
    <string>eeglottal-ethi</string>
    <string>eglottal-ethi</string>
    <string>oglottal-ethi</string>
    <string>waglottal-ethi</string>
    <string>ka-ethi</string>
    <string>ku-ethi</string>
    <string>ki-ethi</string>
    <string>kaa-ethi</string>
    <string>kee-ethi</string>
    <string>ke-ethi</string>
    <string>ko-ethi</string>
    <string>koa-ethi</string>
    <string>kwa-ethi</string>
    <string>kwi-ethi</string>
    <string>kwaa-ethi</string>
    <string>kwee-ethi</string>
    <string>kwe-ethi</string>
    <string>kxa-ethi</string>
    <string>kxu-ethi</string>
    <string>kxi-ethi</string>
    <string>kxaa-ethi</string>
    <string>kxee-ethi</string>
    <string>kxe-ethi</string>
    <string>kxo-ethi</string>
    <string>kxwa-ethi</string>
    <string>kxwi-ethi</string>
    <string>kxwaa-ethi</string>
    <string>kxwee-ethi</string>
    <string>kxwe-ethi</string>
    <string>wa-ethi</string>
    <string>wu-ethi</string>
    <string>wi-ethi</string>
    <string>waa-ethi</string>
    <string>wee-ethi</string>
    <string>we-ethi</string>
    <string>wo-ethi</string>
    <string>woa-ethi</string>
    <string>pharyngeala-ethi</string>
    <string>pharyngealu-ethi</string>
    <string>pharyngeali-ethi</string>
    <string>pharyngealaa-ethi</string>
    <string>pharyngealee-ethi</string>
    <string>pharyngeale-ethi</string>
    <string>pharyngealo-ethi</string>
    <string>za-ethi</string>
    <string>zu-ethi</string>
    <string>zi-ethi</string>
    <string>zaa-ethi</string>
    <string>zee-ethi</string>
    <string>ze-ethi</string>
    <string>zo-ethi</string>
    <string>zwa-ethi</string>
    <string>zha-ethi</string>
    <string>zhu-ethi</string>
    <string>zhi-ethi</string>
    <string>zhaa-ethi</string>
    <string>zhee-ethi</string>
    <string>zhe-ethi</string>
    <string>zho-ethi</string>
    <string>zhwa-ethi</string>
    <string>ya-ethi</string>
    <string>yu-ethi</string>
    <string>yi-ethi</string>
    <string>yaa-ethi</string>
    <string>yee-ethi</string>
    <string>ye-ethi</string>
    <string>yo-ethi</string>
    <string>yoa-ethi</string>
    <string>da-ethi</string>
    <string>du-ethi</string>
    <string>di-ethi</string>
    <string>daa-ethi</string>
    <string>dee-ethi</string>
    <string>de-ethi</string>
    <string>do-ethi</string>
    <string>dwa-ethi</string>
    <string>dda-ethi</string>
    <string>ddu-ethi</string>
    <string>ddi-ethi</string>
    <string>ddaa-ethi</string>
    <string>ddee-ethi</string>
    <string>dde-ethi</string>
    <string>ddo-ethi</string>
    <string>ddwa-ethi</string>
    <string>ja-ethi</string>
    <string>ju-ethi</string>
    <string>ji-ethi</string>
    <string>jaa-ethi</string>
    <string>jee-ethi</string>
    <string>je-ethi</string>
    <string>jo-ethi</string>
    <string>jwa-ethi</string>
    <string>ga-ethi</string>
    <string>gu-ethi</string>
    <string>gi-ethi</string>
    <string>gaa-ethi</string>
    <string>gee-ethi</string>
    <string>ge-ethi</string>
    <string>go-ethi</string>
    <string>goa-ethi</string>
    <string>gwa-ethi</string>
    <string>gwi-ethi</string>
    <string>gwaa-ethi</string>
    <string>gwee-ethi</string>
    <string>gwe-ethi</string>
    <string>gga-ethi</string>
    <string>ggu-ethi</string>
    <string>ggi-ethi</string>
    <string>ggaa-ethi</string>
    <string>ggee-ethi</string>
    <string>gge-ethi</string>
    <string>ggo-ethi</string>
    <string>ggwaa-ethi</string>
    <string>tha-ethi</string>
    <string>thu-ethi</string>
    <string>thi-ethi</string>
    <string>thaa-ethi</string>
    <string>thee-ethi</string>
    <string>the-ethi</string>
    <string>tho-ethi</string>
    <string>thwa-ethi</string>
    <string>cha-ethi</string>
    <string>chu-ethi</string>
    <string>chi-ethi</string>
    <string>chaa-ethi</string>
    <string>chee-ethi</string>
    <string>che-ethi</string>
    <string>cho-ethi</string>
    <string>chwa-ethi</string>
    <string>pha-ethi</string>
    <string>phu-ethi</string>
    <string>phi-ethi</string>
    <string>phaa-ethi</string>
    <string>phee-ethi</string>
    <string>phe-ethi</string>
    <string>pho-ethi</string>
    <string>phwa-ethi</string>
    <string>tsa-ethi</string>
    <string>tsu-ethi</string>
    <string>tsi-ethi</string>
    <string>tsaa-ethi</string>
    <string>tsee-ethi</string>
    <string>tse-ethi</string>
    <string>tso-ethi</string>
    <string>tswa-ethi</string>
    <string>tza-ethi</string>
    <string>tzu-ethi</string>
    <string>tzi-ethi</string>
    <string>tzaa-ethi</string>
    <string>tzee-ethi</string>
    <string>tze-ethi</string>
    <string>fa-ethi</string>
    <string>fu-ethi</string>
    <string>fi-ethi</string>
    <string>faa-ethi</string>
    <string>fee-ethi</string>
    <string>fe-ethi</string>
    <string>fo-ethi</string>
    <string>fwa-ethi</string>
    <string>pa-ethi</string>
    <string>pu-ethi</string>
    <string>pi-ethi</string>
    <string>paa-ethi</string>
    <string>pee-ethi</string>
    <string>pe-ethi</string>
    <string>po-ethi</string>
    <string>pwa-ethi</string>
    <string>rya-ethi</string>
    <string>mya-ethi</string>
    <string>fya-ethi</string>
    <string>geminationandvowellengthmarkcomb-ethi</string>
    <string>vowellengthmarkcmb-ethi</string>
    <string>geminationmarkcomb-ethi</string>
    <string>sectionmark-ethi</string>
    <string>wordspace-ethi</string>
    <string>fullstop-ethi</string>
    <string>comma-ethi</string>
    <string>semicolon-ethi</string>
    <string>colon-ethi</string>
    <string>prefacecolon-ethi</string>
    <string>questionmark-ethi</string>
    <string>paragraphseparator-ethi</string>
    <string>one-ethi</string>
    <string>two-ethi</string>
    <string>three-ethi</string>
    <string>four-ethi</string>
    <string>five-ethi</string>
    <string>six-ethi</string>
    <string>seven-ethi</string>
    <string>eight-ethi</string>
    <string>nine-ethi</string>
    <string>ten-ethi</string>
    <string>twenty-ethi</string>
    <string>thirty-ethi</string>
    <string>forty-ethi</string>
    <string>fifty-ethi</string>
    <string>sixty-ethi</string>
    <string>seventy-ethi</string>
    <string>eighty-ethi</string>
    <string>ninety-ethi</string>
    <string>hundred-ethi</string>
    <string>tenthousand-ethi</string>
    <string>mwaSebatbeit-ethiopic</string>
    <string>mwi-ethiopic</string>
    <string>mwee-ethiopic</string>
    <string>mwe-ethiopic</string>
    <string>bwaSebatbeit-ethiopic</string>
    <string>bwi-ethiopic</string>
    <string>bwee-ethiopic</string>
    <string>bwe-ethiopic</string>
    <string>fwaSebatbeit-ethiopic</string>
    <string>fwi-ethiopic</string>
    <string>fwee-ethiopic</string>
    <string>fwe-ethiopic</string>
    <string>pwaSebatbeit-ethiopic</string>
    <string>pwi-ethiopic</string>
    <string>pwee-ethiopic</string>
    <string>pwe-ethiopic</string>
    <string>yizet-ethiopic</string>
    <string>deret-ethiopic</string>
    <string>rikrik-ethiopic</string>
    <string>shortRikrik-ethiopic</string>
    <string>difat-ethiopic</string>
    <string>kenat-ethiopic</string>
    <string>chiret-ethiopic</string>
    <string>hidet-ethiopic</string>
    <string>deretHidet-ethiopic</string>
    <string>kurt-ethiopic</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>dollar</string>
    <string>exclam</string>
    <string>question</string>
    <string>slash</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>endash</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>period</string>
  </array>
</dict>
</plist>
